@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: #ededed;
  background: #081b29;
  overflow-x: hidden;

}

/* icon code */

:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  
}
#icon{
  width: 50px;
  cursor: pointer;
  padding-left: 25px;
  background: #000000;
}


/* Header Code */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-style: italic;
  
}

/* logo code */

.logo {
  position: relative;
  padding-left: 50px;
  font-size: 25px;
  color: crimson;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
/* .logo:hover{
    background-color:lightslategray;
    border-radius: 50%;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan
   
} */
.navbar a {
  display: inline-block;
  padding: 2px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  /* animation-delay: calc(.2s * var); */
}
.navbar a:hover {
  background-color: lightslategray;
  border-radius: 50%;
  /* color: #0ef; */
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}

/* home code */

.home {

  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(./images/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 70px 10px 0;
}
.home-content {
  max-width: 600px;
  padding-top: 100px;
}
.home-content h3 {
  font-size: 32px;
  padding-left: 40px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h1 {
  font-size: 56px;
  padding-right: 110px;
  color: lightseagreen;
  font-weight: 700;
  margin: -3px 0;
  font-family: "Times New Roman", serif;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  padding-left: 40px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
/* .home-sci a{
    display: inline-block; 
     justify-content: center; 
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
} */

.home-sci {
  margin: 30px;
}

/*Icon Code */

.fa {
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var());

  /* margin-top: 20px; */
  padding: 10px;
  /* padding-left: 40px; */
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 60%;
}

.fa:hover {
  /* opacity: 0.8; */
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
  /* transition: 0.5s ease; */
}
.fa-facebook {
  /* margin-right: 10px; */
  background: darkblue;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #810a43;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

/*Button Code */
.btn-box {
  display: inline-block;
  margin: 30px;
  margin-top: 10px;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}


/* About Css */

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    padding-bottom: 20%;
    /* margin-top: 50px; */
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
    margin-top: 50px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

/* Sercives CSS */

#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span{
color: #0ef;

}
.container{
  padding: 90px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s,transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px #012290f7
}
.services-list div i{
font-size: 50px;
margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 
  0 0 25px #0ef;
}
.read:hover{
box-shadow: 0 0 5px cyan,
0 0 25px cyan,0 0 50px cyan,
0 0 100px cyan,0 0 200px cyan;
}
.services-list div:hover{
  transform: translateY(-20px);
}


/* Skills Code */

h1{
  text-align: center;
  margin-top: 40px;
  font-size: 80px;
}

.skills-area{
  display: flex;
  flex-direction: column;
  padding:0 20% ;
}

.skill{
  position: relative;
  margin-bottom: 40px;
}

.skill-title{
  font-size: 40px;
  margin-bottom: 10px;
}
.skill-bar{
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 30px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}
.skill-fill{
  background: blue;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}
.skill-percent{
  font-size: 30px;
}
.html{
  animation: html 2s;
  width: 90%;
}
.css{
  animation: css 2s;
  width: 85%;
}
.js{
  animation:js 2s;
  width: 80%;
}
.node{
  animation:js 2s;
  width: 75%;
}
@keyframes html{
  from{
    width: 0;
  }
  to{
    width:90%
  }
}

@keyframes css{
  from{
    width: 0;
  }
  to{
    width:85%
  }
}

@keyframes js{
  from{
    width: 0;
  }
  to{
    width:80%
  }
}
@keyframes node{
  from{
    width: 0;
  }
  to{
    width:75%
  }
}

@media only screen and (max-width:750px) {
  .skills-area{
    padding:0 5% ;
  }
}

@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}
.Technical-bars .bar .prograss-line span{
  height: 100%;
  position: absolute;
  background-color: #0ef;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
/* Project Section */

#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* display: none;             for add more projects */
}
/* .work:nth-child(1),
.work:nth-child(2) {
  display: inline-block;
} */

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #ff004f;
}

/* Contact code */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  transition: transform 0.5s;
}
.btn.btn2:hover {
  background: #b54769;
  transform: translateY(-5px);
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}

#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}






















@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


